#card {
    padding-left: 50px;
    padding-top: 30px;
    color: #adbac7;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border-bottom: 1px solid #2d333b;
}

#repo-name {
    text-decoration: none ;
    font-weight: 600;
}

#repo-name:visited {
    color: #1565C0;
}

#repo-name:hover {
    text-decoration: underline;
}

#repo-name:focus {
    color: white;
}