#search-wrapper {
    margin-left: 100px;
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);  
   
}

#form-textbox {
    background-color: #0E1117;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    padding: 0 0 0 5px;
    border-color: grey;
    position: absolute;
    width: 100px;
    height: 25px;
    z-index: 10;
    transition-duration: 0.4s;
}

#form-textbox:focus {
    width: 500px;
    padding: 0 16px 0 0;
    color: grey;    
}

.expand-right {
    right: auto;
	left: 49px;
}

.expand-right:focus {
    padding: 0 0 0 16px;
}

::-moz-placeholder {
    opacity: 1;    
}
/* 
#btn {
    background-color: #0E1117;
    color: white;
    border-color: #0E1117;
    border-radius: 2px;    
} */